.form-box {
    max-width: 300px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    margin: auto 40vw;
    margin-top: 8vw;
    position: relative;
  }
  
  :root {
    --main-bg-color: rgb(0, 0, 0);
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  
  .signimg img {
    border: 2px solid black;
    height: vh;
    width: auto;
  }
  
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #00ff4c;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: #085c1b;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  
   .password-container {
    display: flex;
    align-items: center; 
  }
  
  .eye-button {
    margin-left: 10px; 
    cursor: pointer;
    font-size: 20px;
    color: #555; 
  }
  
  
  .input[type="password"] {
    padding-right: 40px; 
  }